
# Created by https://www.toptal.com/developers/gitignore/api/altium,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=altium,visualstudiocode

### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb

#library
**/library/

### VisualStudioCode ###
**/.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/altium,visualstudiocode